.low-image {
    position: relative;
    width: 100vw;
    height: 100vh;

    img {
        max-height: 100%;
    }

    .container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        height: 100vh;
        text-align: center;
    }

    .last-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        height: 100vh;
        text-align: center;
        z-index: -1;

        .last-image {
            transform: scale(1.1);
        }
    }

    @for $i from 1 through 20 {
        .animation-#{$i} {
            animation: grow-low #{$i}000ms ease-out infinite;
        }
    }
}


@keyframes grow-low {
    0% {
        transform: scale(1);
        margin-left: -200vw;
    }

    10% {
        transform: scale(1);
        margin-left: 0;
    }

    100% {
        transform: scale(1.1);
        margin-left: 0;
    }
}