@font-face {
    font-family: 'SegoeL';
    src: url('segoeuil.ttf') format('truetype');
    font-weight: 400;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.full-screen {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    margin: 5px;
    background-color: #fff;
    border: #000;
    z-index: 5;
}

.time-container {
    position: absolute;
    bottom: 50px;
    left: 50px;

    .time {
        font-family: 'SegoeL';
        font-size: 8.125rem;
        color: #fff;

        .colon {
            position: relative;
            top: -0.625rem;
        }
    }
    
    .date {
        font-family: 'SegoeL';
        font-size: 5rem;
        color: #fff;
    }
}

.image-container {
    width: 100%;
    background-color: transparent;

    .image, .last-image {
        @for $i from 1 through 20 {
            .animation-#{$i} {
                animation: grow #{$i}000ms ease-out infinite;
            }
        }
        
        .full-width {
            position: absolute;
        }

        .side-by-side {
            position: absolute;
            display: flex;

            img {
                position: relative;
                max-width: 50vw;
            }
        }
    }

    .last-image {
        left: 0;

        .full-width, .side-by-side {
            transform: scale(1.1);
        }
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
        left: -100vw;
        top: 0;
    }

    10% {
        transform: scale(1);
        left: 0;
        top: 0;
    }

    100% {
        transform: scale(1.1);
        left: 0;
        top: 0;
    }
}